In [1]:
import gc
gc.collect()

200

# 01. Import libraries

In [2]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import scipy
from datetime import datetime

In [3]:
# Create a path for easier importing
path = r'C:\Users\blim9\Desktop\Google Data Analytics\Case Study'

In [4]:
# Import the datasets
df = pd.read_csv(os.path.join (path, 'Data', 'Monthly Data', '202108-divvy-tripdata.csv'), index_col = False)
df2 = pd.read_csv(os.path.join (path, 'Data', 'Monthly Data', '202109-divvy-tripdata.csv'), index_col = False)
df3 = pd.read_csv(os.path.join (path, 'Data', 'Monthly Data', '202110-divvy-tripdata.csv'), index_col = False)
df4 = pd.read_csv(os.path.join (path, 'Data', 'Monthly Data', '202111-divvy-tripdata.csv'), index_col = False)
df5 = pd.read_csv(os.path.join (path, 'Data', 'Monthly Data', '202112-divvy-tripdata.csv'), index_col = False)
df6 = pd.read_csv(os.path.join (path, 'Data', 'Monthly Data', '202201-divvy-tripdata.csv'), index_col = False)
df7 = pd.read_csv(os.path.join (path, 'Data', 'Monthly Data', '202202-divvy-tripdata.csv'), index_col = False)
df8 = pd.read_csv(os.path.join (path, 'Data', 'Monthly Data', '202203-divvy-tripdata.csv'), index_col = False)
df9 = pd.read_csv(os.path.join (path, 'Data', 'Monthly Data', '202204-divvy-tripdata.csv'), index_col = False)
df10 = pd.read_csv(os.path.join (path, 'Data', 'Monthly Data', '202205-divvy-tripdata.csv'), index_col = False)
df11 = pd.read_csv(os.path.join (path, 'Data', 'Monthly Data', '202206-divvy-tripdata.csv'), index_col = False)
df12 = pd.read_csv(os.path.join (path, 'Data', 'Monthly Data', '202207-divvy-tripdata.csv'), index_col = False)

# 02. Data wrangling

### Check the number of rows and columns for each dataset

In [5]:
df.shape

(804352, 13)

In [6]:
df2.shape

(756147, 13)

In [7]:
df3.shape

(631226, 13)

In [8]:
df4.shape

(359978, 13)

In [9]:
df5.shape

(247540, 13)

In [10]:
df6.shape

(103770, 13)

In [11]:
df7.shape

(115609, 13)

In [12]:
df8.shape

(284042, 13)

In [13]:
df9.shape

(371249, 13)

In [14]:
df10.shape

(634858, 13)

In [15]:
df11.shape

(769204, 13)

In [16]:
df12.shape

(823488, 13)

#### As the data sets have the same number of columns and column names, I will concatenante it into one data set. This makes it easier to wrangle the data instead of doing each one (12 times).

In [17]:
# Concat the 12 data sets together 
df_combine = (df,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12)

In [18]:
df_merged = pd.concat(df_combine)

In [19]:
df_merged.shape

(5901463, 13)

In [20]:
df_merged.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,99103BB87CC6C1BB,electric_bike,2021-08-10 17:15:49,2021-08-10 17:22:44,NaN,NaN,NaN,NaN,41.77,-87.68,41.77,-87.68,member
1,EAFCCCFB0A3FC5A1,electric_bike,2021-08-10 17:23:14,2021-08-10 17:39:24,NaN,NaN,NaN,NaN,41.77,-87.68,41.77,-87.63,member
2,9EF4F46C57AD234D,electric_bike,2021-08-21 02:34:23,2021-08-21 02:50:36,NaN,NaN,NaN,NaN,41.95,-87.65,41.97,-87.66,member
3,5834D3208BFAF1DA,electric_bike,2021-08-21 06:52:55,2021-08-21 07:08:13,NaN,NaN,NaN,NaN,41.97,-87.67,41.95,-87.65,member
4,CD825CB87ED1D096,electric_bike,2021-08-19 11:55:29,2021-08-19 12:04:11,NaN,NaN,NaN,NaN,41.79,-87.60,41.77,-87.62,member

#### Create a column that calculates the difference in time between the start time and end time

In [21]:
# Convert the object type column to a datetime
df_merged['started_at']= pd.to_datetime(df_merged['started_at'])

In [22]:
# Convert the object type column to a datetime
df_merged['ended_at']= pd.to_datetime(df_merged['ended_at'])

In [23]:
df_merged['started_at'].head()

0   2021-08-10 17:15:49
1   2021-08-10 17:23:14
2   2021-08-21 02:34:23
3   2021-08-21 06:52:55
4   2021-08-19 11:55:29
Name: started_at, dtype: datetime64[ns]

In [24]:
df_merged['ended_at'].head()

0   2021-08-10 17:22:44
1   2021-08-10 17:39:24
2   2021-08-21 02:50:36
3   2021-08-21 07:08:13
4   2021-08-19 12:04:11
Name: ended_at, dtype: datetime64[ns]

In [25]:
# Calculate the difference between the two times
df_merged['ride_length'] = df_merged['ended_at'] - df_merged['started_at']

In [26]:
# Convert the ride_length time into seconds
df_merged['ride_length'] = df_merged['ride_length'].dt.total_seconds()

In [27]:
# Convert the ride_length column into HH:MM:SS format, omitting the days
#def sec_to_format(s):
 #   h,s = divmod(int(s),3600)
  #  m,s = divmod(s,60)
   # return f'{h:02}:{m:02}:{s:02}'

#df_merged['ride_length'] = [sec_to_format(s) for s in df_merged['ride_length'].dt.total_seconds()]

In [28]:
df_merged['ride_length'].head()

0    415.0
1    970.0
2    973.0
3    918.0
4    522.0
Name: ride_length, dtype: float64

#### Create a column that extracts the day of the week from the start date.
- Monday = 0
- Tuesday = 1
- Wednesday = 2
- Thursday = 3
- Friday = 4
- Saturday = 5
- Sunday = 6

In [29]:
df_merged['day_of_week'] = pd.to_datetime(df_merged['started_at']).dt.weekday

In [30]:
df_merged['day_of_week'].head()

0    1
1    1
2    5
3    5
4    3
Name: day_of_week, dtype: int64

In [31]:
df_merged['day_of_week'].value_counts()

5    981065
6    893604
3    838780
4    814322
2    804431
1    797213
0    772048
Name: day_of_week, dtype: int64

In [32]:
df_merged.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week
0,99103BB87CC6C1BB,electric_bike,2021-08-10 17:15:49,2021-08-10 17:22:44,NaN,NaN,NaN,NaN,41.77,-87.68,41.77,-87.68,member,415.0,1
1,EAFCCCFB0A3FC5A1,electric_bike,2021-08-10 17:23:14,2021-08-10 17:39:24,NaN,NaN,NaN,NaN,41.77,-87.68,41.77,-87.63,member,970.0,1
2,9EF4F46C57AD234D,electric_bike,2021-08-21 02:34:23,2021-08-21 02:50:36,NaN,NaN,NaN,NaN,41.95,-87.65,41.97,-87.66,member,973.0,5
3,5834D3208BFAF1DA,electric_bike,2021-08-21 06:52:55,2021-08-21 07:08:13,NaN,NaN,NaN,NaN,41.97,-87.67,41.95,-87.65,member,918.0,5
4,CD825CB87ED1D096,electric_bike,2021-08-19 11:55:29,2021-08-19 12:04:11,NaN,NaN,NaN,NaN,41.79,-87.60,41.77,-87.62,member,522.0,3

#### Create a column that extracts the month from the start date.

In [33]:
df_merged['month'] = df_merged['started_at'].dt.month

In [34]:
df_merged['month'].value_counts()

7     823488
8     804352
6     769204
9     756147
5     634858
10    631226
4     371249
11    359978
3     284042
12    247540
2     115609
1     103770
Name: month, dtype: int64

#### Check the datatypes of each column and reduce the size where applicable for lower memory usage.

In [35]:
df_merged.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
ride_length                  float64
day_of_week                    int64
month                          int64
dtype: object

#### There are four FLOAT64 datatypes and two INT64 datatypes. I will convert these into FLOAT32 and INT32 with for-loops.

In [36]:
# For-loop to change all the float64 columns to float32
for column in df_merged.columns:
    if df_merged[column].dtype == 'float64':
        df_merged[column] = df_merged[column].astype(np.float32)

In [37]:
# For-loop to change all the int64 columns to int8
for column in df_merged.columns:
    if df_merged[column].dtype == 'int64':
        df_merged[column] = df_merged[column].astype(np.int8)

In [38]:
df_merged.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float32
start_lng                    float32
end_lat                      float32
end_lng                      float32
member_casual                 object
ride_length                  float32
day_of_week                     int8
month                           int8
dtype: object

#### Rename certain columns for more clarity and readability

In [39]:
df_merged.rename(columns = {'started_at': 'start_date_time', 'ended_at': 'end_date_time', 'start_lng': 'start_long',
                           'end_lng': 'end_long', 'member_casual': 'member_type'}, inplace=True)

In [40]:
df_merged.head()

,ride_id,rideable_type,start_date_time,end_date_time,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_long,end_lat,end_long,member_type,ride_length,day_of_week,month
0,99103BB87CC6C1BB,electric_bike,2021-08-10 17:15:49,2021-08-10 17:22:44,NaN,NaN,NaN,NaN,41.770000,-87.680000,41.770000,-87.680000,member,415.0,1,8
1,EAFCCCFB0A3FC5A1,electric_bike,2021-08-10 17:23:14,2021-08-10 17:39:24,NaN,NaN,NaN,NaN,41.770000,-87.680000,41.770000,-87.629997,member,970.0,1,8
2,9EF4F46C57AD234D,electric_bike,2021-08-21 02:34:23,2021-08-21 02:50:36,NaN,NaN,NaN,NaN,41.950001,-87.650002,41.970001,-87.660004,member,973.0,5,8
3,5834D3208BFAF1DA,electric_bike,2021-08-21 06:52:55,2021-08-21 07:08:13,NaN,NaN,NaN,NaN,41.970001,-87.669998,41.950001,-87.650002,member,918.0,5,8
4,CD825CB87ED1D096,electric_bike,2021-08-19 11:55:29,2021-08-19 12:04:11,NaN,NaN,NaN,NaN,41.790001,-87.599998,41.770000,-87.620003,member,522.0,3,8

#### Re-order columns for better context

In [41]:
df_merged = df_merged.reindex(columns = ['ride_id', 'rideable_type', 'member_type', 'start_date_time', 'end_date_time', 
                                         'ride_length', 'month', 'day_of_week', 'start_station_name', 'start_station_id', 
                                         'end_station_name', 'end_station_id', 'start_lat', 'start_long', 'end_lat', 'end_long'])

In [42]:
df_merged.head()

,ride_id,rideable_type,member_type,start_date_time,end_date_time,ride_length,month,day_of_week,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_long,end_lat,end_long
0,99103BB87CC6C1BB,electric_bike,member,2021-08-10 17:15:49,2021-08-10 17:22:44,415.0,8,1,NaN,NaN,NaN,NaN,41.770000,-87.680000,41.770000,-87.680000
1,EAFCCCFB0A3FC5A1,electric_bike,member,2021-08-10 17:23:14,2021-08-10 17:39:24,970.0,8,1,NaN,NaN,NaN,NaN,41.770000,-87.680000,41.770000,-87.629997
2,9EF4F46C57AD234D,electric_bike,member,2021-08-21 02:34:23,2021-08-21 02:50:36,973.0,8,5,NaN,NaN,NaN,NaN,41.950001,-87.650002,41.970001,-87.660004
3,5834D3208BFAF1DA,electric_bike,member,2021-08-21 06:52:55,2021-08-21 07:08:13,918.0,8,5,NaN,NaN,NaN,NaN,41.970001,-87.669998,41.950001,-87.650002
4,CD825CB87ED1D096,electric_bike,member,2021-08-19 11:55:29,2021-08-19 12:04:11,522.0,8,3,NaN,NaN,NaN,NaN,41.790001,-87.599998,41.770000,-87.620003

# 03. Data cleaning

In [43]:
# Check for missing values
df_merged.isnull().sum()

ride_id                    0
rideable_type              0
member_type                0
start_date_time            0
end_date_time              0
ride_length                0
month                      0
day_of_week                0
start_station_name    860786
start_station_id      860784
end_station_name      919896
end_station_id        919896
start_lat                  0
start_long                 0
end_lat                 5590
end_long                5590
dtype: int64

In [44]:
df_merged.shape

(5901463, 16)

#### As there are many missing values, it isn't best practice to drop such a large amount. However, it is more difficult to fill in the names and IDs based on the coordinates (lat/long). Therefore, I will be dropping them instead.

In [45]:
# Drop all missing values
df_merged.dropna(inplace = True)

In [46]:
df_merged.shape

(4629230, 16)

In [47]:
# Check for duplicates
df_dups = df_merged[df_merged.duplicated()]

In [48]:
df_dups

Empty DataFrame
Columns: [ride_id, rideable_type, member_type, start_date_time, end_date_time, ride_length, month, day_of_week, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_long, end_lat, end_long]
Index: []

#### There are no duplicate values

In [49]:
# Check for any outliers in the numerical columns
df_merged.describe()

,ride_length,month,day_of_week,start_lat,start_long,end_lat,end_long
count,4.629230e+06,4.629230e+06,4.629230e+06,4.629230e+06,4.629230e+06,4.629230e+06,4.629230e+06
mean,1.110608e+03,7.220854e+00,3.132628e+00,4.262727e+01,-8.755619e+01,4.262795e+01,-8.755621e+01
std,4.884531e+03,2.519768e+00,2.006227e+00,7.222989e-01,9.144271e-02,7.230869e-01,9.148039e-02
min,-7.745000e+03,1.000000e+00,0.000000e+00,4.164850e+01,-8.783325e+01,4.164850e+01,-8.783000e+01
25%,3.840000e+02,5.000000e+00,1.000000e+00,4.188189e+01,-8.765703e+01,4.188209e+01,-8.765804e+01
50%,6.730000e+02,7.000000e+00,3.000000e+00,4.189766e+01,-8.764122e+01,4.189776e+01,-8.764170e+01
75%,1.211000e+03,9.000000e+00,5.000000e+00,4.192676e+01,-8.762798e+01,4.192871e+01,-8.762798e+01
max,2.497750e+06,1.200000e+01,6.000000e+00,4.563503e+01,-7.379648e+01,4.216812e+01,-8.752740e+01

In [50]:
df_merged['ride_length'].value_counts()

323.0      4803
359.0      4776
347.0      4774
343.0      4761
325.0      4757
           ...
16451.0       1
98555.0       1
13312.0       1
21777.0       1
24927.0       1
Name: ride_length, Length: 21182, dtype: int64

In [51]:
# Drop the ride_length values < 0
df_merged = df_merged[df_merged.ride_length > 0]

In [52]:
df_merged['ride_length'].min()

1.0

In [53]:
df_merged['ride_length'].value_counts()

323.0      4803
359.0      4776
347.0      4774
343.0      4761
325.0      4757
           ...
78696.0       1
27679.0       1
17902.0       1
18571.0       1
24927.0       1
Name: ride_length, Length: 21089, dtype: int64

#### Drop the ride_length values that are less than 45. I'm accounting for those who changed their mind or were trying to re-dock the bike. A minimum of 1 second doesn't make sense, so I'm giving users the benefit of the doubt.

In [54]:
df_merged = df_merged[df_merged.ride_length > 45]

In [55]:
df_merged['ride_length'].value_counts()

323.0      4803
359.0      4776
347.0      4774
343.0      4761
325.0      4757
           ...
78696.0       1
27679.0       1
17902.0       1
18571.0       1
24927.0       1
Name: ride_length, Length: 21044, dtype: int64

In [56]:
df_merged['ride_length'].max()

2497750.0

In [57]:
# Check the 10 longest rides 
df_merged.nlargest(10, ['ride_length'])

,ride_id,rideable_type,member_type,start_date_time,end_date_time,ride_length,month,day_of_week,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_long,end_lat,end_long
192711,E25E58F5E94EE351,docked_bike,casual,2021-08-01 18:53:10,2021-08-30 16:42:20,2497750.0,8,6,Michigan Ave & Jackson Blvd,TA1309000002,Daley Center Plaza,TA1306000010,41.877850,-87.624077,41.884239,-87.629631
360554,A310C7270FD730B6,docked_bike,casual,2021-10-02 18:35:36,2021-10-31 01:00:37,2442301.0,10,5,Dusable Harbor,KA1503000064,Wells St & Elm St,KA1504000135,41.886974,-87.612816,41.903221,-87.634323
67464,23697816035F9A8F,docked_bike,casual,2022-03-05 19:08:58,2022-03-29 15:43:02,2061244.0,3,5,Sheffield Ave & Fullerton Ave,TA1306000016,Base - 2132 W Hubbard Warehouse,Hubbard Bike-checking (LBS-WH-TEST),41.925602,-87.653709,41.889954,-87.680649
607878,BBDA8AFFE3BB3F61,docked_bike,casual,2021-09-05 14:45:30,2021-09-28 10:24:02,1971512.0,9,6,DuSable Lake Shore Dr & Ohio St,TA1306000029,Damen Ave & Grand Ave,TA1308000006,41.892570,-87.614494,41.891266,-87.676842
140266,689016313584F621,docked_bike,casual,2021-09-05 07:05:59,2021-09-27 21:42:29,1953390.0,9,6,DuSable Lake Shore Dr & Ohio St,TA1306000029,Base - 2132 W Hubbard Warehouse,Hubbard Bike-checking (LBS-WH-TEST),41.892570,-87.614494,41.889954,-87.680649
717461,DC510E6F98003A94,docked_bike,casual,2022-07-04 18:37:11,2022-07-27 00:32:38,1922127.0,7,0,DuSable Lake Shore Dr & Monroe St,13300,Green St & Randolph St*,chargingstx3,41.880959,-87.616745,41.883602,-87.648628
31630,AA5CFE14D1864FAB,docked_bike,casual,2021-12-01 08:02:00,2021-12-22 10:42:33,1824033.0,12,2,Central Ave & Lake St,16905,California Ave & Milwaukee Ave,13084,41.887665,-87.765472,41.922695,-87.697151
47709,578BA30BA1348F18,docked_bike,casual,2022-01-01 01:00:05,2022-01-21 08:51:11,1756266.0,1,5,Millennium Park,13008,Fairfield Ave & Roosevelt Rd,KA1504000102,41.881031,-87.624084,41.866623,-87.694519
23249,5EE2D7C533CCC17B,docked_bike,casual,2022-01-06 19:07:45,2022-01-25 14:30:33,1624968.0,1,3,Wabash Ave & Grand Ave,TA1307000117,Base - 2132 W Hubbard Warehouse,Hubbard Bike-checking (LBS-WH-TEST),41.891464,-87.626762,41.889954,-87.680649
60383,60AD934D1201F9FC,docked_bike,casual,2021-10-10 11:38:36,2021-10-28 21:58:00,1592364.0,10,6,Halsted St & 18th St (Temp),13099,Base - 2132 W Hubbard Warehouse,Hubbard Bike-checking (LBS-WH-TEST),41.858372,-87.646385,41.889954,-87.680649

#### The top 10 longest rides were on docked_bikes, and I also noticed that some of the end_station_ids include the word "TEST". This could mean that these bikes were for test purposes, as it's unlikely users would return the bike to the warehouse.

In [58]:
# Remove all the end_station_ids that contain TEST in the name
df_merged = df_merged[~df_merged.end_station_id.str.contains("LBS-WH-TEST")]

In [59]:
# Export the wrangled and cleaned dataset for analysis
df_merged.to_pickle(os.path.join (path, 'Data', 'Prepared Data', 'cleaned_data.pkl'))